@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html{
  background: #030712;
}

.swipeToLeft {
  animation: animatSwipeLeft 0.5s ease-in;
}

@keyframes animatSwipeLeft {
  0% {
    right: -100%;
  }

  100% {
    right: 0%;
  }
}

.swipeToRight {
  animation: animatSwipeRight 0.5s ease-in;
}

@keyframes animatSwipeRight {
  0% {
    right: 0;
  }

  100% {
    right: -100%;
  }
}


.card {
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 100% !important;
  cursor: pointer;
}

.card:hover {
  box-shadow: rgba(70, 70, 70, 0.6) 0px 2px 4px 0px, rgba(70, 70, 70, 0.6) 0px 2px 16px 0px;
}

.card:hover>.card-content>.serviceNum{
  opacity: 0.8 !important;
  transition: all 0.3s ease-in-out;
}

.card:hover::before,
.card:hover::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.card:hover::before {
  top: 0px;
  left: 0px;
  border-top: 5px solid #21E786;
  border-left: 5px solid #21E786;
}

.card:hover::after {
  bottom: 0px;
  right: 0px;
  border-bottom: 5px solid #21E786;
  border-right: 5px solid #21E786;
}


/* styles.css */
.scroll-to-top-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  margin: 0;
}

.portfolio-card {
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 100% !important;
  cursor: pointer;
  overflow: hidden;
  
}

.portfolio-card:hover>.portfolio-card-content>div>.porfolio-image{
  transform: scale(1.1) !important;
  transition: all 0.3s ease-in-out;
}

.portfolio-card:hover::before,
.portfolio-card:hover::after {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.portfolio-card:hover::before {
  top: 0px;
  left: 0px;
  border-top: 5px solid #21E786;
  border-left: 5px solid #21E786;
}

.portfolio-card:hover::after {
  bottom: 0px;
  right: 0px;
  border-bottom: 5px solid #21E786;
  border-right: 5px solid #21E786;
}

.portfolio-card:hover {
  box-shadow: rgba(70, 70, 70, 0.6) 0px 2px 4px 0px, rgba(70, 70, 70, 0.6) 0px 2px 16px 0px;
}


.slick-slide {
  padding: 0 20px;
}

@media only screen and (max-width: 600px){
  .slick-slide {
    padding: 0 10px;
  }
  
}




/* cursor move  */

@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 19999999;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }

  #cursor .cursor--inner {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    /* transform: translate3d(-50%,-50%); */
    background-color: #21e787c7;
    box-shadow: #21e787c7 0px 0px 6px 6px;
  }
}


/* progress  */


.html-progress {
  width: 90%;
  animation: htmlAnimation 3s ease-in-out;
}

@keyframes htmlAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

.css-progress {
  width: 80%;
  animation: cssAnimation 2.5s ease-in-out;

}

@keyframes cssAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.js-progress {
  width: 75%;
  animation: jsAnimation 2.25s ease-in-out;

}

@keyframes jsAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}

.react-progress {
  width: 85%;
  animation: reactAnimation 2.5s ease-in-out;

}

.ts-progress {
  width: 85%;
  animation: reactAnimation 2.5s ease-in-out;
}

@keyframes reactAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

.node-progress {
  width: 55%;
  animation: nodeAnimation 2s ease-in-out;

}

@keyframes nodeAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}

.express-progress {
  width: 65%;
  animation: expressAnimation 2.25s ease-in-out;
}

@keyframes expressAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

.mongo-progress {
  width: 65%;
  animation: mongoAnimation 2.25s ease-in-out;
}

@keyframes mongoAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}